:root {
    --menu-lateral:#101010;
    --texto: #fff;
    --btn-link: #4B0082;
}

body {
    margin: 0;
    padding: 0;
    font-size: 17px;
    transition: background-color 0.5s ease;
}


.menu-lateral {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: var(--menu-lateral);
    z-index: 5;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.menu-lateral.ativo {
    left: 0;
}
.menu-lateral ul {
    list-style-type: none;
    margin-top: 90px;
    padding: 0;
}
.menu-lateral ul li {
    padding: 10px 15px;
    position: relative;
}
.menu-lateral ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px;
    color: var(--texto);
}
.menu-lateral ul li a i {
    font-size: 19px;
    transition: all 0.5s ease;
}
.menu-lateral ul li a:hover i {
    transform: translateX(5px) rotate(15deg);
}
.menu-lateral ul .li01::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    height: 100%;
    width: 20%;
    background-color: var(--btn-link);
    z-index: -1;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu-lateral ul .li01:hover::after {
    left: -10px;
}
.menu-lateral ul .li02::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    height: 100%;
    width: 20%;
    background-color: var(--btn-link);
    z-index: -1;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu-lateral ul .li02:hover::after {
    left: -10px;
}
.menu-lateral ul .li03::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    height: 100%;
    width: 20%;
    background-color: var(--btn-link);
    z-index: -1;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu-lateral ul .li03:hover::after {
    left: -10px;
}
.menu-lateral ul .li04::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    height: 100%;
    width: 20%;
    background-color: var(--btn-link);
    z-index: -1;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu-lateral ul .li04:hover::after {
    left: -10px;
}



.botao-menu {
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--btn-link);
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 6;
}
.botao-menu:hover {
    background-color: #6900b4;
}
.botao-menu.ativo {
    margin-left: 320px;
}
.botao-menu i {
    font-size: 24px;
    color: var(--texto);
}



.conteudo {
    margin-left: 190px;
    padding: 20px;
    transition: all 0.5s ease;
}
.conteudo.ativo {
    margin-left: 390px;
    color: var(--texto);
}



.fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}
.fundo.ativo {
    opacity: 1;
    visibility: visible;
}